.draggable {
    position: absolute;
 
  }
.drawingIcon{
  filter: invert();
  width: 70px;
  height: 70px;
}
.drawingComponent{
  margin-top: 140px;
}
/*.App {
  max-width: 1400px; 
  max-height: 800px; 
  margin: auto; 
  overflow: hidden; 
}*/
