
.news-container {

    bottom: 10px;
    right: 10px;
    z-index: 1000; 
    max-width: 300px;
    padding-left: 40px; 
  }
  
  .news-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
    
    transition: background-color 0.3s ease;
    background-color: rgb(0, 0, 0);
    color: #fff;
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 30px;
  }
  

  