.weatherContainer{
width: 255px;
height: 350px;
}

body{
background-color: black;    
}

  .dropdown {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    width: 70%;
    float: left;
    padding-left: 10px;
  }
  
  #myDropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 12px;
    padding-left: 25x;
    height: 54px;
    font-size: 30px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    font-family: "Times New Roman", Times, serif;
    border: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  #myDropdown:focus {
    outline: none;
    border-color: #000000;
    
  }
  
  .dropdown::after {
    padding-top: 10px;
    content: '\25BC';
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }
  
  #myDropdown:hover {
    border-color: #000000;
  }
  
  #myDropdown option {
    background-color: #000000;
    color: #ffffff;
    
  }

  
  .weatherInfo {
    text-align: center;
    width: 100%;
  }
  .windandluft {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    padding-top: 30px;
  }
  .luftandIcon,
  .WindandIcon {
    flex: 1; 
    display: flex;
    align-items: center;
  }
  
  .weatherIcon {
    width: 35%;
    height: 35%;
    margin-bottom: 10px;
  }
  .WindandIcon {
    justify-content: flex-end;
  }
  
  .temperatur {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #fff;
  }
  
  .Beschreibung {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .WindandIcon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%; 
  }
  .luftandIcon {
    justify-content: flex-start;
    text-align: left;
  }
  
  .windIcon {
    filter: invert();
    width: 25%;
    height: 40%;
    margin-right: 10px;
  }
  .luftIcon {
    filter: invert();
    width: 25%;
    height: 40%;
    margin-right: 10px;
  }
  .Windgeschwindigkeit{
    color: #fff;
  }
  
  .Luftfeuchtigkeit {
    font-size: 18px;
    margin: 0;
    color: #ffffff;
    text-align: left; 
    
  }
 